html, body, * {
    margin: 0;
    padding: 0;
    line-height: 1em;
    margin: 0;
    padding: 0;
   } 
  
  body {
    background : #252525;
    color: #f0f0f0;
  }
  
  #dbgObj_elem {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: rgba(38,50,56, .99);
      color: white;
      font-size: 15px;
      box-shadow: 0 0 13px #0a0a0a;
      font-family: monospace ;
      transition: 0.25s ease all;
      left: -100%;
    
    button {
      //border: 1px solid lime;
      color: lime;
      border-top: none;
      background: rgba(255,255,255,0.1);
      box-shadow: 0 2px 4px 0px darkgreen;
      padding: 5px 10px;
      transition: 0.25s ease all;
      border: none;
      
      &:hover {
        cursor: pointer;
        background: rgba(200,50,50,0.5);
        box-shadow: 0 2.5px 3.5px .5px green;
      }
      
      &:focus {
        outline: none;
      }
      
      &:active {
        tramsition: 0.05s ease all;
        box-shadow: 0 0 1px 0px lime;
        outline: none;
      }
    }
    button.toggleVisibility {
      //border: 1px solid lime;
      color: lime;
      border-top: none;
      background: rgba(255,255,255,0.1);
      box-shadow: 0 2px 4px 0px darkgreen;
      padding: 5px 10px;
      transition: 0.25s ease all;
      border: none;
      position: fixed;
      left: 0;
      bottom: 0;
      
      &:before {
        content: "Show DBG >>";
        pointer-events: none;
      }
      
      &:hover {
        cursor: pointer;
        background: rgba(200,50,50,0.5);
        box-shadow: 0 2.5px 3.5px .5px green;
      }
      
      &:focus {
        outline: none;
      }
      
      &:active {
        tramsition: 0.05s ease all;
        box-shadow: 0 0 1px 0px lime;
        outline: none;
      }
    }
    
    .title_area {
      background: #252525;
      padding: 10px 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      .title {
        font-size: 20px;
        color: lime;
        //color: #03A9F4;
      }
    }
    
    div#dbg_tabs {
      flex: 1;
      padding: 10px;
      background: #2c303a;
    }
    
    &.active {
      left: 0;
  
      button.toggleVisibility {
        position: relative; 
  
        &:before {
          content: "<< Hide";
        }
      }
    }
  }
  
  
  