//╔═══════════════════════════════════════════════════════════════════════════════╗
//║ ♠ File Name: game.scss                                                        ║
//║ ↔ Location: <: public_root :>/ style / game / game.scss                       ║
//║ Σ Description:                                                                ║
//║     → In case this lives more than few days, better have something prepared   ║
//╟       than few days, better have something prepared have as   ╔═══════════════╣
//║       than few days, better have something prepared.          ║ √ 22.01.2021. ║
//╚═══════════════════════════════════════════════════════════════╩═══════════════╝


#gameCam {
    box-shadow: 0 0 4px 2px inset black;
    background: url(/assets/app/fav/icon.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #242424;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
