html, body, * {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 100%;
  }
  
  body {
    background: whitesmoke;
  }
  body #debugSidebar {
    position: fixed;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    background: #444;
    color: white;
    transition: 0.25s ease all;
  }
  body #debugSidebar .singleSection {
    display: flex;
    padding: 0.25em 0.75em;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
  }
  body #debugTogglerButton {
    position: fixed;
    transition: 0.25s ease all;
    right: 0;
    bottom: 0;
    background: orange;
    color: white;
    border: none;
    padding: 0.25em 0.5em;
    cursor: pointer;
  }
  body #debugTogglerButton:hover {
    background: darkorange;
  }
  body #debugTogglerButton:focus {
    outline: none;
  }
  
  body.debugShown {
    background: #c5cae9;
  }
  body.debugShown #debugSidebar {
    width: 420px;
    height: 100%;
    transition: 0.25s ease all;
  }
  body.debugShown #debugTogglerButton {
    right: 420px;
  }
  