
        .main_content_footer {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        .main_content_footer>div {
            flex: 1;
            display: flex;
        }

        .thin_vertical_nav {
            display: flex;
            width: 50px;
            background: #111821;
            border-radius: 50px;
            margin: 10px;
            box-shadow: 0 0 15px #444444;
            flex-direction: column;
            gap: .75em;
            justify-content: space-between;
            align-items: baseline;
            padding: 0px 0;
            z-index: 200;
        }

        #sys_stats_general .half .single {
            font-size: 0.75em;
            font-weight: 100;
            letter-spacing: 1px;
            color: #a0a0a0;
            font-family: sans-serif;
            justify-content: space-between;
            align-items: center;
            display: flex;
            text-align: left;
            line-height: 1.5em;
            gap: 1.5em;
            padding: 0.5em 1em;
        }

        #sys_stats_general .half .single>span {
            /* font-size: 1.5em; */
            color: #03a9f4;
            padding: 0.5em 1em;
        }

        #sys_stats_general>half {
            display: flex;
            flex-direction: row;
        }

        div#sys_stats_general .half {
            display: flex;
            flex-direction: column;
            gap: .25em;
            flex: 1;
        }

        div#sys_stats_general {
            flex: 1;
            gap: 2em;
            display: flex;
            flex-direction: row;
            padding: 0 3em;
            margin-bottom: 2em;
        }

        #sys_stats_general .half .single>span.green_status {
            background: green;
            color: white;
        }

        #sys_stats_general .half .single>span.orange_status {
            background: darkorange;
            color: white;
        }

        #sys_stats_general .half .single>span.red_status {
            background: darkred;
            color: white;
        }

        .chart_part {
            max-width: 25%;
        }

        .contact_report {
            max-width: 25%;
            flex-direction: column;
            display: flex;
            gap: 1em;
            margin-bottom: 2em;
        }

        #corner_chart_white {
            min-height: unset !important;
        }

        .contact_report .icon_buttons {
            display: flex;
            flex-direction: row;
            gap: 1em;
        }

        .contact_report .icon_buttons button span {
            font-size: 0;
        }

        button.full_icon_button {
            width: 5em;
            padding: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 0;
            color: #b9b9b9;
            background: #29313a;
            cursor: pointer;
            transition: 0.35s ease all;
            box-shadow: 0 2px 5px black;
        }

        .main_content_footer>div .title {
            font-size: 1.5em;
            text-shadow: 0 0 3px black;
            letter-spacing: 0.1em;
        }

        text#SvgjsText1005 {
            font-weight: 200 !important;
            font-family: monospace !important;
            stroke: #03a9f4 !important;
            text-shadow: 0 5px 10px black;
        }

        button.full_icon_button:hover {
            box-shadow: 0 10px 20px black;
            transform: scale(1.05);
            transition: 0.25s ease all;
        }

        button.full_icon_button:focus {
            outline: none;
            transition: 0s ease all;
        }

        button.full_icon_button:active {
            box-shadow: 0 0 2px white;
            transition: 0.05s ease all;
            transform: scale(0.95);
            color: #3090fa;
        }

        #sys_stats_general .half .single:hover {
            background: #0e3045;
        }

        .thin_vertical_nav>button {
            font-size: 0;
            display: flex;
            margin: 2.5px;
            overflow: hidden;
            background: white;
            min-width: 45px;
            height: 45px;
            align-items: center;
            justify-content: center;
            color: white;
            background: #324356;
            transition: 0.25s ease all;
            border: none;
            position: relative;
            border-radius: 30px;
        }

        .thin_vertical_nav>button:hover {
            cursor: pointer;
            width: auto;
            border-radius: 30px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            box-shadow: 0 2px 5px #03a9f4;
            letter-spacing: 2px;
            text-shadow: 0 0 3px black;
            padding: 0 1em 0 0;
            transition: 0.25s ease all;
            width: max-content;
            padding-right: 20px;
        }


        .thin_vertical_nav>button.current_page {
            box-shadow: 0 0 25px rgb(0 145 255 / .25);
            background: #3090de;
        }

        .thin_vertical_nav>button:focus {
            outline: none;
        }


        .thin_vertical_nav>button svg {
            position: absolute;
            left: 0;
            width: 25px;
            padding: 15px 10px;
            max-height: 50%;
        }

        .thin_vertical_nav>button:hover svg {
            pointer-events: none;
            color: #008ffb;
            background: #111821;
            box-shadow: 5px 0 10px #0089ff;
            transition: 0.15s ease all;
        }

        .thin_vertical_nav>button p {
            transition: 0s ease all;
            font-size: 0;
        }

        .thin_vertical_nav>button:hover p {
            font-size: 17.5px;
            padding-left: 60px;
        }

        button.full_icon_button svg {
            width: 80%;
        }

        .main_page_container>div {
            position: absolute;
            top: -200%;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            animation: hidingMainPage .5s;
            animation-fill-mode: forwards;
        }

        .main_page_container>div.shown_page {
              animation: showingMainPage .5s;
              animation-fill-mode: forwards;
        }
        
        @keyframes showingMainPage {
              from {top: -800px; opacity: 0.5;background-color: black;}
              to {top: 0px;  opacity: 1}
            }
        
        @keyframes hidingMainPage {
              from {top: 0px; opacity: .9;}
              to {top: 800px;  opacity: 0;background-color: black;}
            }

        .main_page_container {
            position: relative;
            display: flex;
            flex: 1;
        }

        .main_page_container>div .title_content_main {
            padding: 1.25em 2em;
            background: #111821;
            text-shadow: 0 5px 2px black;
            border-radius: 40px 0 0 40px;
        }

        .main_page_container>div .title_content_main h3 {
            font-size: 1.5em;
            /* padding: 1em; */
            /* background: #111821; */
            /* text-shadow: 0 0 2px black; */
            /* border-radius: 40px 0 0 40px; */
        }
        
        html,
body {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    line-height: 1em;
    font-size: 14px;
    font-family: monospace;
    color: #c0c0c0;
    position: fixed;
    background-color: #151e25;
}

html,
body,
* {
    line-height: 1em;
    padding: 0;
    margin: 0;
}

div#app_root {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* background: #040c19; */
    /* background: url('bck.jpg'); */
    background-size: contain;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #151e25;
}

.side_terminal {
    width: 500px;
    background: rgb(17 24 32 / 85%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

.main_content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form#terminal_input:before {
    content: ">";
    position: absolute;
    font-size: 2em;
    width: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    color: #81d4fa;
}

form#terminal_input {
    position: relative;
    width: 100%;
    display: flex;
}

input#term_command {
    flex: 1;
    border: none;
    padding: 1em;
    border-left: 30px solid #31313100;
    background: rgb(3, 169, 244, .05);
    color: white;
    text-align: right;
    border-top: 2px solid black;
    border-bottom: 2px solid transparent;
    transition: 0.25s ease all;
}

form#terminal_input {}

div#bash_output {
    padding: 0.5em;
    /* display: flex; */
    position: relative;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    overflow: hidden;
    overflow-y: auto;
    flex: 1;
}

div#bash_output p {
    padding: 0.25em 1em;
    font-weight: 300;
    white-space: pre;
    text-align: right;
    /* border: 1px dashed rgb(0 0 0 / 25%); */
    margin: 2px 0px;
    width: calc(100% - 2em);
    font-size: 12px;
    line-height: 1.75em;
    justify-content: flex-end;
    display: flex;
    background: #00000017;
    content-visibility: auto;
}

div#bash_output p:hover {
    background: rgb(4 12 25 / 50%);
}

input#term_command:focus {
    outline: none;
    border-top: 2px solid rgba(0, 0, 0, .25);
    border-bottom: 2px solid rgba(0, 0, 0, .25);
    border-right: 2px solid rgba(0, 0, 0, .25);
    border-left: 30px solid rgba(3, 169, 244, .15);
    background: rgba(3, 169, 244, .15);
    box-shadow: 0 0 10px black;
}

input#term_command:hover {
    background: rgb(68 68 68 / 50%);
}

.notifications_area {
    font-size: 1.75em;
    font-weight: 600;
    text-shadow: 0 0 2px black;
    color: #03a9f4;
    display: flex;
    flex-direction: row;
    height: 4em;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(0 0 0 / 25%);
    border-bottom: 2px solid;
}

.back-circle {
    z-index: 0;
    position: relative;
    border: 5px solid #3090fa;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    /*-webkit-animation: moveCircleWhole 1s;
animation: moveCircleWhole 1s;*/
}

.page-container:hover .back-circle {
    position: absolute;
    z-index: 0;
    border: 10px solid #3090fa;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: calc(0% + 50px);
    top: calc(100% - 150px);
    -webkit-animation: moveCircleWholeOut 2s;
    animation: moveCircleWholeOut 2s;
}

@-webkit-keyframes moveCircleWhole {
    from {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: calc(0% + 50px);
        top: calc(100% - 150px);
    }
    to {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        left: calc(50% - 150px);
        top: calc(50% - 150px);
    }
}

@keyframes moveCircleWhole {
    from {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: calc(0% + 50px);
        top: calc(100% - 150px);
    }
    to {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        left: calc(50% - 150px);
        top: calc(50% - 150px);
    }
}

@-webkit-keyframes moveCircleWholeOut {
    from {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        left: calc(50% - 150px);
        top: calc(50% - 150px);
    }
    to {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: calc(0% + 50px);
        top: calc(100% - 150px);
    }
}

@keyframes moveCircleWholeOut {
    from {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        left: calc(50% - 150px);
        top: calc(50% - 150px);
    }
    to {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: calc(0% + 50px);
        top: calc(100% - 150px);
    }
}

.back-circle:before {
    display: block;
    width: 0px;
    height: 0px;
    content: " ";
    left: 50%;
    top: 50%;
    position: absolute;
    box-shadow: 0px 0px 0px 0px #03A9F4;
    border-radius: 50%;
    -webkit-animation: scaleInner3 15s alternate infinite;
    animation: scaleInner3 15s alternate infinite;
}

.back-circle:after {
    content: " ";
    display: block;
    border: 10px solid #03A9F4;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    -webkit-animation: rotateCircle 5s infinite;
    animation: rotateCircle 5s alternate infinite;
}

.back-circle .inner {
    display: block;
    width: 50%;
    height: 50%;
    left: calc(25% - 1px);
    top: calc(25% - 1px);
    position: absolute;
    border: 1px solid #03A9F4;
    border-radius: 50%;
    animation: scaleInner 4s alternate infinite;
    -webkit-animation: scaleInner 4s infinite;
}

.back-circle .inner:after {
    content: " ";
    display: block;
    width: 50%;
    height: 50%;
    left: calc(25% - 1px);
    top: calc(25% - 1px);
    position: absolute;
    border: 1px solid #888;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: scaleInner2 3s alternate infinite;
    -webkit-animation: scaleInner2 3s infinite;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes scaleInner {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

@keyframes scaleInner {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes scaleInner2 {
    from {
        transform: scale(1) rotate(360deg);
    }
    to {
        transform: scale(0.75) rotate(0deg);
    }
}

@keyframes scaleInner2 {
    from {
        transform: scale(1) rotate(360deg);
    }
    to {
        transform: scale(0.75) rotate(0deg);
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes scaleInner3 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(5);
    }
}

@keyframes scaleInner3 {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 50px 30px #03a9f4ab
    }
    50% {
        transform: scale(2.5);
        box-shadow: 0px 0px 40px 15px #03a9f457;
    }
    100% {
        transform: scale(1);
        box-shadow: 0px 0px 50px 10px #03A9F4;
    }
}

.brandContainer {
    display: flex;
    margin: 0em 2em 0em 2em;
    align-items: center;
    flex: 1;
}

.brandContainer p {
    font-size: 40px;
    letter-spacing: 3px;
    margin: 0 0 0 0.5em;
    text-decoration: underline;
    text-decoration-color: #03A9F4;
}

span.user_input_cmd {
    background: #03a9f42e;
    display: flex;
    width: calc(100% + 2em);
    height: 100%;
    justify-content: flex-end;
    margin: 0 -1em;
    padding: .5em 1em;
}

button#WorkplaceBonefire {
    font-size: 25px;
}

div#project_list_items {
    display: flex;
    flex-direction: column;
    width: auto;
}

.main_container_content {
    display: flex;
    flex-direction: row;
    flex: 1;
    /* background: #ffffff05; */
}

.title_content_main h3 {
    font-size: 30px;
    line-height: 1.5em;
    color: white;
}

.projects_list {
    padding: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.projects_list #project_list_items {
    display: flex;
    gap: 1em;
}

div#project_list_items button {
    padding: .5em 1em;
    font-size: 1.5em;
    background: #29313a;
    border: none;
    color: #bfc0c0;
    cursor: pointer;
    transition: 0.25s ease all;
    box-shadow: 0 0 5px black;
    border-bottom: 2px solid #03a9f4;
}

div#project_list_items button:hover {
    box-shadow: 0 10px 20px #272727;
    background: #2a93f9;
    color: black;
    border-bottom: 2px solid white;
}

.main_content_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3#dt {
    font-size: 20px;
    font-family: fantasy;
    color: #0098d0;
    opacity: 1;
    text-shadow: 0 0 3px black;
}

.group.secondary {
    flex: 1;
}



div#projects_list_items {
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    flex: 1;
    padding: 1em;
    /* background: #132935; */
    position: relative;
}

div#projects_list_items button:not(.selected) svg path {
    fill: transparent;
    stroke: #175280;
    stroke-width: 0.2;
    stroke-dasharray: 0;
}

div#projects_list_items button {
    background: transparent;
    border: none;
    color: white;
    height: min-content;
    position: relative;
    width: 15%;
    cursor: pointer;
    transition: 0.25s ease all;
    overflow: hidden;
}

div#projects_list_items button p.project_name {
    position: absolute;
    font-size: 1em;
    top: calc(50% - 1em);
    text-shadow: 0 0 5px black;
    left: .75em;
}

div#projects_list_items button svg {
    /* position: absolute; */
    width: 100%;
    left: 0;
    height: auto;
    margin-top: -20px;
    margin-bottom: -20px;
}

div#projects_list_items button svg g {
    stroke-width: 1px;
}

div#projects_list_items button:hover {
    transform: scale(1.1);
    transform-origin: center;
    z-index: 20;
}
div#projects_list_items button:hover svg path {
    fill: #037aff;
}

div#projects_list_items button:focus {
    outline: none;
}

#notes_list_items button {
    background: transparent;
    border: none;
    color: white;
    padding: 0.25em;
    background: #14252e;
    margin: 0.25em;
    cursor: pointer;
    transition: 0.25s ease all;
}

#notes_list_items button:hover {
    background: #324356;
    transform: scale(1.1);
}


button#openProBtn_done\.\%\.2021_02_02-13_44_31\.txt {
}

div#todos_list_items {
    flex-direction: column;
    display: flex;
    gap: .5em;
    padding: 1em;
}

div#todos_list_items button {
    display: flex;
    flex-direction: row;
    background: transparent;
    border: none;
    color: white;
    align-items: center;
    gap: 2em;
    padding: 0.5em;
    background: #142530;
    border-left: 5px solid #215e90;
    transition: 0.25s ease all;
    box-shadow: 0 2px 5px black ;
    opacity: 0.85;
}

div#todos_list_items button.done_item {
    background: #91ff002e;
    border-left: 5px solid #51ff00;
}

div#todos_list_items button.stuck_item {
    background: orangered;
    border: 3px solid #671c00;
    color: white;
    border-left: 45px solid #671c00;
}

div#todos_list_items button.stuck_item:before {
    content: "?";
    margin-left: -40px;
    font-size: 40px;
    color: orangered;
}

div#todos_list_items button.stuck_item svg path {
    stroke: black!important;
}


div#todos_list_items button:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 15px black ;
    opacity: 1;
}
}