html, body, * {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    line-height: 1em;
    font-family: monospace;
    background: #303030;
    color: #f0f0f0;
}

canvas {
    position: fixed;
    /*transform: scale3D(2,2,1);
    left:25%;
    top: 25%;
    width: 50%;*/
}