html, body, * {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 15px;
    line-height: 1em;
    font-family: monospace;
    background: #303030;
    color: #f0f0f0;
}

canvas {
    position: fixed;
    box-shadow: 0 0 2px inset rgba(250,250,250,1);
    /*transform: scale3D(2,2,1);
    left:25%;
    top: 25%;
    width: 50%;*/
}

button {
    border: none;
    background: #03A9F4;
    color: white;
    cursor: pointer;
    padding: 0.5em 1em;
    transition: 0.20s ease all;

    &:hover {
        background: #01579B;
        box-shadow: 2px 5px 10px black;
        transform: scale(1.015);
        transition: 0.35s ease all;
    }

    &:focus {
        outline: none;
    }

    &:active {
        transition: 0.05s linear all;
        transform: scale(0.985);
        box-shadow: 0px 0px 2.5px white;
    }
}


.shortInfoContainer > div > p {
    color: #03A9F4;
}